@font-face{                                         /*Police*/
    font-family:"Raleway";
    src:url("https://fonts.google.com/specimen/Raleway.");
}
*{ 
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}
/*header*/
.wrapper{
    width:100%;
    max-width:1380px;
    margin:0 auto;
    padding:0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
list-style-type: none;
display:flex;
}
nav li{
    margin-left: 80px;
    font-size: 20px;
}

.hoverNav{
    text-decoration: none;
    color:black;
}

.hoverNav:hover{   
    border-top: 3px solid #0065FC;
    padding-top:40px;
    color:#0065FC;
}

/*zone de recherche*/

.search{
    display:flex;
    align-items: center;
    height:50px;
  }
input{
        border:none; 
    }
.search i{
    background-color: #F2F2F2;
    height: 50px;
    border-radius: 15px 0 0 15px;    
    display: flex;/*centrage icone*/
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding-left:20px;
    padding-right:20px;
}
.submit{
    background-color: #0065FC;
    height: 50px;
    border-radius: 0 15px 15px 0;
    color:white;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
  }
.destination{
font-weight: bold;
height: 50px;
border-top: 2px solid #F2F2F2;
border-bottom: 2px solid #F2F2F2;
padding-left:10px;
padding-right: 35px;
}



/*filtres*/
.filtres .wrapper{
    display:flex;
    align-items: center; 
    flex-wrap:wrap;
    margin-top: 25px;
    margin-bottom: 25px;
       }

.filtresIcone{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    height:50px;
    margin-left:30px;
           }  
.filtresText{
   margin-left: 10px;
   margin-right:15px;
    display: flex;
    align-items: center;
    font-weight: bold;
   
   }

   .icone{
    border: 2px solid #DEEBFF; 
    background-color: #DEEBFF;
    border-radius: 50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }

/*effet survol elements filtres*/
.hoverFilter:hover{
    color:#DEEBFF;
           }
.hoverFilter{
    text-decoration: none;
    color:black;
    margin:0;
    padding:0;
    height:50px;
    cursor:pointer;
}           
/*couleurs icone filtres*/
.faFiltres{
    color: #0065FC;
}
/*zone informations*/
.info .wrapper{
    display: flex;  
    align-items: center;
    margin-bottom: 25px;
        }

/*rond icone + couleurs  i*/
.cercleInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #F2F2F2;
    border-radius: 20px;
    height:30px;
    width:30px;            /*A VOIR COMMENT ENLEVER WIDTH*/
    margin-right:0;
    padding-right: 0;
}
.infoBulle{
    font-size: 15px;
    color:#0065FC;
}
.textInfoBulle{
   margin-left: 10px;
   }
/*Section Hébergements*/
.sectionHeb .wrapper{
    display: flex;
    flex-wrap: wrap;
      }
  
.cardHebergements{    /*encadré gris*/
    background-color: #F2F2F2;
    height: 600px;
    border-radius: 30px;
    margin-right:50px;
    padding-left:20px;
    padding-right:20px;
        }

.card{   /*card avec image + text cliquable*/
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px; 
    margin:0 auto; /*auto centrage 3 blocs*/
  }

  .alignContainerCard{
    display:flex;
    flex-wrap: wrap;
  }  
  .cardHeb{
    width:30%;
    margin-bottom:30px;
    height:200px;
  }
.cardImageHeb img {
    height: 120px;
    width:100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover; 
}
.cardImageHeb{
   margin:5px;
}
.cardBodyHeb{
    padding-left:15px;
}
.cardTitleHeb{
    margin-top:2px;
    margin-bottom:2px;
}
.cardTextHeb{
    margin-top:2px;
    margin-bottom:2px;
}

.stars{
    display:flex;
    margin-top:5px;
    color:#F2F2F2;
}

.stars.stars-1 i:nth-child(1),
.stars.stars-2 i:nth-child(1),
.stars.stars-2 i:nth-child(2),
.stars.stars-3 i:nth-child(1),
.stars.stars-3 i:nth-child(2),
.stars.stars-3 i:nth-child(3),
.stars.stars-4 i:nth-child(1),
.stars.stars-4 i:nth-child(2),
.stars.stars-4 i:nth-child(3),
.stars.stars-4 i:nth-child(4),
.stars.stars-5 i{
    color: #0065FC; 
}



.cardHebergements h2{
    margin-top: 50px;
    margin-left: 20px;
}
       
 .titreAfficherP{
    margin-left:20px;
    margin-top:0;
}

/*Section aside "les plus populaires"*/
.cardPopulaires h2{
    margin-top: 50px;
    margin-left: 20px;
}
.cardPopulaires .card{
    display: flex;
    align-content: space-between;
    margin-bottom:30px;
    
}

.cardPopulaires{    /*encadré gris*/
    background-color: #F2F2F2;
    height:600px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    }
   .cardPopu{
    
    margin-bottom:30px;
    height:140px;
   }
  .cardImagePopu img{
    
    height:130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;  
    margin: 5px;  
}

  .cardHebergements{
flex:1;

}
/*placement article et aside côte à côte*/
.sectionHeb .wrapper
{
display:flex;
}
