@font-face{                                         /*Police*/
    font-family:"Raleway";
    src:url("https://fonts.google.com/specimen/Raleway.");
}
*{ 
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}
/*header*/
.wrapper{
    width:100%;
    max-width:1380px;
    margin:0 auto;
    padding:0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
list-style-type: none;
display:flex;
}
nav li{
    margin-left: 80px;
    font-size: 20px;
}

.hoverNav{
    text-decoration: none;
    color:black;
}

.hoverNav:hover{   
    border-top: 3px solid #0065FC;
    padding-top:40px;
    color:#0065FC;
}

/*zone de recherche*/
.zoneSearch h1{
    margin-bottom: 0;
}
.search{
    display:flex;
    align-items: center;
    height:50px;
    margin-top:30px;
  }
input{
        border:none; 
    }
.search i{
    background-color: #F2F2F2;
    height: 50px;
    border-radius: 15px 0 0 15px;    
    display: flex;/*centrage icone*/
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding-left:20px;
    padding-right:20px;
}
.submit{
    background-color: #0065FC;
    height: 50px;
    border-radius: 0 15px 15px 0;
    color:white;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
  }
.destination{
font-weight: bold;
height: 50px;
border-top: 2px solid #F2F2F2;
border-bottom: 2px solid #F2F2F2;
padding-left:10px;
padding-right: 35px;
}



/*filtres*/
.filtres .wrapper{
    display:flex;
    align-items: center; 
    flex-wrap:wrap;
    margin-top: 25px;
    margin-bottom: 25px;
       }

.filtresIcone{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    height:50px;
    margin-left:30px;
           }  
.filtresText{
   margin-left: 10px;
   margin-right:15px;
    display: flex;
    align-items: center;
    font-weight: bold;
   
   }

   .icone{
    border: 2px solid #DEEBFF; 
    background-color: #DEEBFF;
    border-radius: 50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }

/*effet survol elements filtres*/
.hoverFilter:hover{
    color:#DEEBFF;
           }
.hoverFilter{
    text-decoration: none;
    color:black;
    margin:0;
    padding:0;
    height:50px;
    cursor:pointer;
}           
/*couleurs icone filtres*/
.faFiltres{
    color: #0065FC;
}
/*zone informations*/
.info .wrapper{
    display: flex;  
    align-items: center;
    margin-bottom: 25px;
        }

/*rond icone + couleurs  i*/
.cercleInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #F2F2F2;
    border-radius: 20px;
    height:30px;
    width:30px;         
    margin-right:0;
    padding-right: 0;
}
.infoBulle{
    font-size: 15px;
    color:#0065FC;
}
.textInfoBulle{
   margin-left: 10px;
   }
/*Section Hébergements*/
.sectionHeb .wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
      }
  
.cardHebergements{    /*encadré gris*/
    background-color: #F2F2F2;
    height: 600px;
    border-radius: 30px;
    margin-right:5px;
    padding:25px;
           }

.card{   /*card avec image + text cliquable*/
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px; 
    box-shadow:5px 5px 8px lightgray;
    }

  .alignContainerCard{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin:10px;
              }  

    .cardHeb{
       padding:5px;
       margin-bottom: 30px;   
       width:30%;     /*la taille de chaque card est la même */ 
        }
 
.cardHeb img {
    height:120px;   
    width:100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover; 
}
.cardHeb h3,p,.stars{
    margin:5px;
}
.stars{
    display:flex;
    color:#F2F2F2;
}

.stars.stars-1 i:nth-child(1),
.stars.stars-2 i:nth-child(1),
.stars.stars-2 i:nth-child(2),
.stars.stars-3 i:nth-child(1),
.stars.stars-3 i:nth-child(2),
.stars.stars-3 i:nth-child(3),
.stars.stars-4 i:nth-child(1),
.stars.stars-4 i:nth-child(2),
.stars.stars-4 i:nth-child(3),
.stars.stars-4 i:nth-child(4),
.stars.stars-5 i{
    color: #0065FC; 
}



.cardHebergements h2{
    margin-left: 20px;
}
       
 .cardHebergements h4{
    margin-left:20px;
    margin-top:0;
    
}

/*Section aside "les plus populaires"*/

   .titrePlusEtoile{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left:20px;
    margin-right:20px;
      }

    .cardPopulaires h2{
        margin-bottom:0px;
    }
.cardPopu {
    display: flex;
    margin: 20px;
       }

.cardDescriptionPopulaires{
margin-right:15px;
margin-left:15px;
}
.cardPopulaires{    /*encadré gris*/
    background-color: #F2F2F2;
    height:600px;
    border-radius: 30px;
    margin-left:40px;
    padding: 25px;
    }

.cardPopu img{
    height:150px;
    margin:5px;
    width:35%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    }
    
  .cardDescriptionPopulaires h3{
    margin:5px;
    margin-top:20px
  }

  .cardDescriptionPopulaires .stars{
    margin-top:45px;
      }
/*placement article et aside côte à côte*/
.sectionHeb
{
display:flex;
}
.cardHebergements{
    flex:2;              /*propriétés flex 3 pour que card hebergements prend plus de place que aside*/
}
.cardPopulaires{
    flex:1;
}

/*Section activites à Marseille*/

.cardActivitesGrande img{
    height:362px;   
    border-radius: 20px 20px 0 0;
    object-fit: cover; 
    width:100%;
    }

   .cardActivitesPetiteHaut img{
    height:150px;   
    border-radius: 20px 20px 0 0;
    object-fit: cover; 
    width:100%;
    } 
    .cardActivitesPetiteBas img{
        height:100px;   
        border-radius: 20px 20px 0 0;
        object-fit: cover; 
        width:100%;
        }      
  
    .containerCardActivites{
     display: flex;    
      }

.cardActivitesPetite{
    display: flex;
    flex-direction: column;
    margin-left:50px;
                }

.espaceBetween1{
    margin-bottom: 50px;
}
.espaceBetween2{
    margin-left: 50px;   /*espace gauche entre la grande card et les 2 petites*/
}
.cardActivitesGrande{
flex:2;
}
.cardActivitesPetite{
    flex:2;
}

.activites{
    margin-top: 60px;
    margin-bottom: 60px;
}
.activites h3{
    margin-left:15px;
}

/*Footer*/

footer .wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 30px;
}

.footerText p{
    margin-bottom: 15px;
    margin-left: 0;
}  