* {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    /*fais scroller la page lorsqu'on clique sur lien*/
}

body {
    margin: 0;
    padding: 0;
}

/*header*/
.wrapper {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 80px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.traitLienActif {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 50px;
    /*espacement trait bleu*/
    padding-bottom: 50px;
    /*pour que le texte ne descend pas lors de l'espacement trait bleu*/
}

header img {
    height: 50px;
    /*diminution taille logo booki*/

}

/*zone de recherche*/


.search {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}

input {
    border: none;
}

input:focus {
    outline: none;
    /*enlève l'encadrer noir autour du input search*/
}

.search i {
    background-color: #F2F2F2;
    height: 50px;
    border-radius: 15px 0 0 15px;
    display: flex;
    /*centrage icone*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.submit {
    background-color: #0065FC;
    height: 50px;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.destination {
    font-weight: bold;
    height: 50px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding-left: 10px;
    padding-right: 35px;
}

.zoneSearch h1 {
    font-size: 20px;
}

/*filtres*/
.filtres .wrapper {
    display: flex;
    align-items: center;
}

.filtres ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.filtres li {
    margin-right: 25px;
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    font-weight: bold;
    padding-right: 25px;
}

.filtres i {
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 50px;
    padding: 15px;
    margin-right: 15px;
}

.filtres i {
    color: #0065FC
}

.filtres a:hover {
    color: #DEEBFF
}

.filtres a {
    text-decoration: none;
    color: black;
}

.filtres {
    margin-top: 20px;
}

.filtres h2 {
    font-size: 18px;
}

/*zone informations*/
.info .wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.info {
    margin-top: 10px;
}

/*rond icone + couleurs  i*/
.cercleInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    margin-right: 0;
    padding-right: 0;
}

.infoBulle {
    font-size: 15px;
    color: #0065FC;
}

.textInfoBulle {
    margin-left: 10px;
}

/*Section Hébergements*/
.sectionHeb .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.cardHebergements {
    /*encadré gris*/
    background-color: #F2F2F2;
    height: 650px;
    border-radius: 30px;
    padding: 20px;
    padding-left: 40px;
    /*réduction décalage vers la droite*/
}

.card {
    /*card avec image + text cliquable*/
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
}

.cardHeb {
    display: flex;
    flex-direction: column;
    height: 230px;
    padding: 5px;
    background-color: white;
    width: calc(100%/3 - 20px);
    /*chaque card occupe le même nombre d'espace en complément d'un gap dans class alignContainerCard*/
    box-sizing: border-box;
}

.cardHeb img {
    height: 55%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.cardHebDescription h3,
p,
.stars {
    margin: 5px;
}

.cardHebDescription {
    margin-left: 5px;
}

.stars {
    display: flex;
    color: #F2F2F2;
}

.stars.stars-1 i:nth-child(1),
.stars.stars-2 i:nth-child(1),
.stars.stars-2 i:nth-child(2),
.stars.stars-3 i:nth-child(1),
.stars.stars-3 i:nth-child(2),
.stars.stars-3 i:nth-child(3),
.stars.stars-4 i:nth-child(1),
.stars.stars-4 i:nth-child(2),
.stars.stars-4 i:nth-child(3),
.stars.stars-4 i:nth-child(4),
.stars.stars-5 i {
    color: #0065FC;
}

.cardHebergements h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.cardHebergements h4 {
    margin-top: 40px;
}

.alignContainerCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/*Section aside "les plus populaires"*/

.titrePlusEtoile {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
    margin-right: 20px;
}

.cardPopulaires h2 {
    margin-bottom: 0px;
    font-size: 20px;
}


.cardDescriptionPopulaires {
    margin-right: 15px;
    margin-left: 15px;
}

.cardPopulaires {
    /*encadré gris*/
    background-color: #F2F2F2;
    height: 650px;
    border-radius: 30px;
    margin-left: 30px;
    padding: 20px;
}

.cardPopu {
    display: flex;
    height: calc(100%/3 - 50px);
    /*chaque card occupe le même nombre d'espace*/
    box-sizing: border-box;
    margin: 30px;
}

.cardPopu img {
    margin: 5px;
    width: 30%;
    /*image occupe 30% de l'encadrer blanc*/
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.cardDescriptionPopulaires h3 {
    margin: 5px;
    margin-top: 20px
}

.cardDescriptionPopulaires .stars {
    margin-top: 20px;
}

/*placement article et aside côte à côte*/
.sectionHeb {
    display: flex;
}

.cardHebergements {
    flex: 2;
    /*propriétés flex 3 pour que card hebergements prend plus de place que aside*/
}

.cardPopulaires {
    flex: 1;
}

/*Section activites à Marseille*/

.cardActivitesGrande img {
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

.cardActivitesPetite1 img {
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

.cardActivitesPetite2 img {
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

.containerCardActivites {
    display: flex;
}

.cardActivitesPetite {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.espaceBetween1 {
    margin-bottom: 50px;
}

.espaceBetween2 {
    margin-left: 50px;
    /*espace gauche entre la grande card et les 2 petites*/
}

.cardActivitesGrande {
    flex: 2;
}

.cardActivitesPetite {
    flex: 2;
}

.activites {
    margin-top: 60px;
    margin-bottom: 60px;
}

.activites h3 {
    margin-left: 15px;
}

.activites h2 {
    font-size: 20px;
}

/*Footer*/
footer {
    background-color: #F2F2F2;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
}

footer ul {
    list-style-type: none;
    margin-right: 250px;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: black;

}

.textGras {
    font-weight: bold;
}

footer li {
    margin: 15px;
}